@import "tailwindcss";
@source "../../../../packages/ui/**/*.{js,ts,tsx,jsx}";

@layer base {
:root {
  --max-width: 100vw;
  --max-height: 100vh;

  --background: hsl(207, 20%, 89%);
  --foreground: hsl(220, 43%, 11%);

  --color-primary: hsl(225, 5.9%, 13.3%);
  --color-primary-alpha: hsla(225, 5.9%, 13.3%, 0.5);
  --color-secondary: hsl(215, 19%, 35%);
  --color-secondary-alpha: hsla(215, 19%, 35%, 0.5);
  --color-tertiary: hsl(210, 6.3%, 62.7%);
  --color-tertiary-alpha: hsla(210, 6.3%, 62.7%, 0.5);
  --color-quaternary: hsl(0, 0%, 85%);
  --color-quaternary-alpha: hsla(0, 0%, 85%, 0.5);
}

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(220, 43%, 11%);
    --foreground: hsl(207, 20%, 89%);
  }
  svg path {
    stroke: var(--color-secondary);
  }
  img[alt] {
    color: var(--color-secondary);
  }
  
} */

@layer base {
  html,
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

}

/* @layer utilities {} */

@layer components {
  button {
    background-color: var(--color-primary);
    color: var(--color-quaternary);
  }
  input {
    background-color: var(--color-quaternary-alpha);
  }
}
